
.div-board {
  padding: 2vw;

  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2vw;
  justify-content:space-evenly;
}

.card {
  width: 20vw;
  height: 20vh;

  font-weight: 800;

  padding: 1rem;
  text-align: center;

  border: 5px solid black;
}