
.div-header {
  height: 6rem;
  margin: 0 2rem 0 2rem; 
  background-color: rgb(253, 253, 232);
  border: 3px solid black;

  display: flex;
  justify-content: space-evenly;
}

.div-title, .div-score, .div-bestscore {
  text-align: center;
  padding: 2px;

  font-weight: 800;
  font-size: 2rem;
}

.div-title {
  color: red;
}

.div-score {
   color: green;
}

.div-bestscore {
  color: blue;
}